/* Hide scrollbar */
html, body {
  /* font-size: 14px; */
  overflow: hidden !important;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

.is-14px {
  font-size: 0.9rem;
}

.is-width-5rem {
  width: 5rem;
}

.is-width-8rem {
  width: 8rem;
}

.is-flex-basis-20rem {
  flex-basis: 20rem;
}

.table td, .table th {
  vertical-align: middle !important;
}

.table th {
  text-align: center !important;
}
