::-webkit-scrollbar {
  width: 0px;
}

.textarea:not([rows]) {
  min-height: 5em;
}

.button-width {
  min-width: 7rem;
  max-width: 7rem;
}

.icon-white {
  fill: white;
}

.icon-black {
  fill: #363636;
}

.icon-settings {
  fill: #535151;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 0.15rem;
}

.icon-settings:hover {
  fill: #363636;
  border-color: #b5b5b5;
}

.is-static {
  color: #4a4a4a !important;
}

#btn-database-settings {
  border: 1px solid #a7a7a7;
}

.button-checkbox {
  /* color: white; */
  background-color: hsl(0, 0%, 96%);
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  align-items: center;
  border: 1px solid hsl(217, 71%, 53%);
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  line-height: 1.5;
  user-select: none;
}

textarea {
  font-family: monospace;
  font-size: 0.9rem !important;
}
